/************** GENERAL ***********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content:"";
    clear:both;
    display:table;
}

body{
    font-size: 16px;
    position: relative;
    font-weight: 400;
    height:100vh;
    font-family: Open Sans;
    color: rgb(85, 85, 85);
}

.right{float:right}
.red-focus:focus{outline-color:#FF5049 !important;}
.red{color:#FF5049 !important;}
/************** TOP PART ***********/

.top{
    position: relative;
    height: 40vh;
    background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)), url(back.png);
    background-size:cover;
    background-position: center;
}

.budget{
    position:absolute;
    text-align: center;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:350px;
    color:#fff;
}

.budget_title{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
}

.budget_amount{
    margin-bottom:25px;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.budget_income,
.budget_expenses{
    padding: 12px;
    text-transform: uppercase;
}

.budget_income{ 
    background-color:#28B9B5;
    margin-bottom:10px;
 }

.budget_expenses{ background-color: #f64747}

.budget_income_text,
.budget_expenses_text {
    float: left;
    font-size: 13px;
    color: #444;
    margin-top: 2px;
}

.budget_income_amount,
.budget_expenses_amount{
    float:left;
    letter-spacing: 1px;
}

.budget_income_percentage,
.budget_expenses_percentage{
    float:left;
    letter-spacing: 1px;
    width:34px;
    font-size: 11px;
    margin-left: 10px;
    padding: 3px 0;
    text-align: center;
}

.budget_expenses_percentage{
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.2);
}

/************** BOTTOM PART ***********/

.add{
    padding:12px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.add_container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;
}

.add_select{
    margin-right: 15px;
    font-size:18px;
    height:46px;
    color:inherit;
    font-weight: 300;
    border: 1px solid #e7e7e7;
    transition: border 0.3s;
    background-color: #fff;
    width: 55px;
}

.add_value,
.add_description{
    margin: 0 10px;
    border-radius: 5px;
    color:inherit;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    font-size: 18px;
    font-weight:300;
    height:46px;
    padding:5px 8px;
    transition: border 0.3s;
}

.add_description{  width: 350px }
.add_value{ width:100px }

.add_button{
    margin-left: 25px;
    color: rgb(78, 244, 131);
    border:none;
    font-size: 35px;
    background-color: #f7f7f7;
    height:46px;
    width:50px;
    cursor:pointer;
    line-height: 1.1;
}

.add_button:focus{ outline:none}
.add_button:active{ transform: translateY(5%)}

.add_select:focus,
.add_value:focus,
.add_description:focus{
    outline-color:#28B9B5;
}

/************** LIST PART ***********/

.container{
    width: 1000px;
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-start ;
    align-content: stretch;
    align-items: stretch;
}

h2{
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 20px;
}

.income{
    width:475px;
    margin: 60px auto;
    color:#28B9B5;
}

.expenses{
    width:475px;
    color:#f64747;
    margin:60px auto;
}

.item {
    padding: 13px;
    border-bottom: 1px solid #e7e7e7;
}

.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }

.item__description {
    float: left;
}

.item__value {
    float: left;
    transition: transform 0.3s;
}

.item__percentage {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center;
}

.income .item__value,
.income .item__delete--btn {
    color: #28B9B5;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
    color: #FF5049;
}


.item__delete {
    float: left;
}

.item__delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }

.item:hover .item__delete--btn { display: block; }
.item:hover .item__value { transform: translateX(-20px); }
.item:hover .item__percentage { transform: translateX(-20px); }


.unpaid {
    background-color: #FFDAD9 !important;
    cursor: pointer;
    color: #FF5049;

}

.unpaid .item__percentage { box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); }
.unpaid:hover .item__description { font-weight: 900; }
